<template>
    <h1>
        Courses view
    </h1>

    <!-- <FilesLayout :courses="data1"/>     -->
    <CoursesLayout :courses="data1"/>
</template>

<script setup>
import axios from 'axios';
import { onBeforeMount, ref } from 'vue';
import { apiUrl } from '../constants/constants';
import CoursesLayout from '../components/CoursesLayout.vue';

let data1 = ref([]);
// to assign a value to a ref, we need to use data1.value = 

// Get the courses from the API
const getCourses = async () => {
    try {
        console.log("inside get courses");
        const response = await axios.get(`${apiUrl}/courses/`);
        console.log("this is the response", response);
        console.log(response.data);
        data1.value = response.data; //kima hna
       console.log(data1);
    } catch (error) {
        console.log("there is a big error here")
        console.log(error);
    }
}


onBeforeMount(async () => await getCourses());


// from now one i put everything i wanna use in the template as ref
// and for props i use the defineProps thingy const props = defineProps()



</script>
