
<template>
    <section>
        <div>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima, dolore! Quis necessitatibus quam doloribus sequi magnam, inventore nobis ducimus officia dignissimos dolor? Voluptates a quibusdam rerum, quas dolor nemo hic!
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex tenetur iste hic, voluptates, dignissimos harum eligendi mollitia illum consectetur asperiores qui, fugiat facilis iusto enim earum libero deserunt ea suscipit!
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt vitae at quo quisquam alias earum minima praesentium distinctio quas aut eaque, nam aliquid ut nobis quaerat quam amet dolor in.
        </div>

    </section>

</template>