<template>
    <div class="grid">
        <el-row v-for="course in courses">
                <el-button @click="onClickCourse(course.courseName)" type="primary" :dark="isDark">{{ course.courseName }}</el-button>
        </el-row>
    </div>
</template>

<script setup>
import { defineProps } from 'vue';

const props = defineProps({
    courses: {
        default: {}
    },
});

const onClickCourse = (name) => {
    console.log("clicked",name);
    //redirect to a new page!
};


</script>
