
<template>
  <el-menu
    :default-active="activeIndex"
    class="el-menu-demo"
    mode="horizontal"
    :ellipsis="false"
    @select="handleSelect"
  >
    <el-menu-item index="0">
      <router-link to="/">
      <img
        style="width: 50px"
        src="../assets/l.svg"
        alt="Learning website's logo (it's just an L)"
      />
      </router-link>
    </el-menu-item>

    <div class="flex-grow" />

    <el-menu-item index="1">
      <router-link to="/">Home</router-link>
    </el-menu-item>

    <el-sub-menu index="2">
      <template #title>
        <router-link to="/courses"> Courses </router-link>
      </template>
      <el-menu-item index="2-1">
        <router-link to="/all-courses"> All Courses Files </router-link>
        </el-menu-item>
      <el-menu-item index="2-2">By Levels</el-menu-item>
      <el-sub-menu index="2-3">
        <template #title>By Years</template>
        <el-menu-item index="2-3-1">2022</el-menu-item>
        <el-menu-item index="2-3-2">2023</el-menu-item>
        <el-menu-item index="2-3-3">2024</el-menu-item>
      </el-sub-menu>

    </el-sub-menu>

    <el-menu-item index="3">
      <router-link to="/about">About</router-link>
      </el-menu-item>

  </el-menu>
</template>

<script setup>
import { ref } from 'vue'

const activeIndex = ref('1')
const handleSelect = (key, keyPath) => {
  console.log(key, keyPath)
}
</script>

<style>
.flex-grow {
  flex-grow: 1;
}
</style>
