<template>
    <p>pdf display</p>
    <div v-for="file in filesInfos">
    <el-button @click="openNewTab(file)" size="large" color="#626aef" :dark="isDark">{{ file.originalname }}</el-button>
        <br>
    </div>
</template>

<script setup>
import { ref, onBeforeMount } from 'vue';
import axios from 'axios';
import { apiUrl } from '../constants/constants';

const filesInfos = ref([]);

onBeforeMount(async() => {
    try{
        const response = await axios.get(`${apiUrl}/files`);
        filesInfos.value = response.data;

    }catch(error){
        console.log(error);
    }
});

function openNewTab(fileInfos) {
    window.open(getPdfUrl(fileInfos.filename),'_blank');
};

function  getPdfUrl(fileId) {
    const uri = `${apiUrl}/files/${fileId}`
    return uri ;
};



</script>